<?xml version="1.0"?>
<config>
    <modules>
        <Company_Catalog>
            <version>0.1.0</version>
        </Company_Catalog>
    </modules>
    <global>
        <models>
            <company_catalog>
                <class>Company_Catalog_Model</class>
            </company_catalog>
        </models>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <company_catalog>
                        <class>Company_Catalog_Model_Observer</class>
                        <method>setGridMode</method>
                    </company_catalog>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <company_catalog>
                    <file>company_catalog.xml</file>
                </company_catalog>
            </updates>
        </layout>
    </frontend>
</config>